<div class="ea-content-body">
  <mat-form-field class="ea-filter">
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. ium">
  </mat-form-field>
  <table [dataSource]="websiteList" class="ea-table mat-elevation-z0" mat-table>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> id.</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell> title</th>
      <td *matCellDef="let element" mat-cell> {{element.title_website}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="domain">
      <th *matHeaderCellDef mat-header-cell> domain</th>
      <td *matCellDef="let element" mat-cell> {{element.key_website}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="excerpt">
      <th *matHeaderCellDef mat-header-cell> excerpt</th>
      <td *matCellDef="let element" mat-cell> {{element.excerpt_website}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell> status</th>
      <td *matCellDef="let element" mat-cell> {{element.status_website}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date_add">
      <th *matHeaderCellDef mat-header-cell> date_add</th>
      <td *matCellDef="let element" mat-cell> {{getFormattedTime(element.date_add)}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date_upd">
      <th *matHeaderCellDef mat-header-cell> date_upd</th>
      <td *matCellDef="let element" mat-cell> {{getFormattedTime(element.date_update)}} </td>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="star">
      <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
      <td *matCellDef="let element" mat-cell>
        <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="editWebsite(element.id)" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <mat-paginator
      [length]="length"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="pageSize"
      aria-label="Select page of users"></mat-paginator>
  </table>
</div>
